* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .navbar {
  /* background-color: red; */
  border: 2px solid green;

  width: 100%;
  height: 80px;
  position: relative;
}

.navbar .navbar-brand {
  /* position: absolute; */
  /* left: 38px; */
  margin-left: 20px;
  /* border: 5px solid green; */
}

.ul-main {
  /* border: 2px solid green; */
  align-items: center;
}

.ul-main .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #5b1312;
  position: relative;
}

.ul-main .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  /* border: 2px solid red; */
  height: 2px;
  width: 95%;
  bottom: 0;
  left: 0;
  background-color: #5b1312;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.ul-main .navbar-nav .nav-item .nav-link:hover::after {
  transform: scaleX(1);
}

.ul-main .navbar-right-nav {
  /* width: 200px; */
  /* height: 100%; */
  /* border: 5px solid green; */
  position: absolute;
  right: 0;
  margin-right: 40px;
}

.navbar-right-nav .icon-box {
  margin-right: 32px;
}

.navbar-right-nav .icon-box i {
  font-size: 24px;
  color: #5b1312;
}

.navbar-right-nav .login-btn {
  /* margin-right: 38px; */
  padding: 10px 28px;
  background-color: #5b1312;
  color: #ffffff;
  border: none;
  outline: none;
  font-weight: 500;
  line-height: 100%;
  font-size: 12px;
  letter-spacing: 12%;
}

.search-wrapper {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 40px;
  padding: 10px;
  width: 40px; /* Initially only icon width */
  height: 40px;
  transition: all 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid transparent;
}

.search-icon {
  min-width: 20px;
  font-size: 1.1rem;
  color: var(--primary-color);
  text-align: center;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  width: 0;
  padding: 0;
  margin-left: 0;
  font-size: 0.9rem;
  transition: all 0.6;
  opacity: 0;
}

/* The Hover Trigger */
.search-wrapper:hover .search-container {
  width: 250px; /* Expanded width */
  padding: 10px 15px;
  background: #ffffff;
  border-color: #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.search-wrapper:hover .search-input {
  width: 100%;
  margin-left: 10px;
  opacity: 1;
}
